.main-window{
    width: 100%;
    height: 100%;
}

.main-window canvas{
    width: 100%;
    height: 100%;
}

.main-window .selectBox {
    border: 1px solid #55aaff;
    background-color: rgba(75, 160, 255, 0.3);
    position: fixed;
}
